<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>BandFeed</title>
        <link rel="stylesheet" href="/static/style.css" />
        <link
            rel="shortcut icon"
            href="/static/favicon.ico"
            type="image/x-icon"
        />
    </head>

    <body>
        <header>
            <a id="headingg" href="https://github.com/jacmuckyck/bandfeed">
                BandFeed
            </a>
            <nav>
                <ul class="nav-links">
                    <li><a href="/">new</a></li>
                    <li><a href="loved">loved</a></li>
                    <li><a href="archive">archive</a></li>
                </ul>
            </nav>
        </header>

        <main id="data-container">
            <ol>
                <% main.forEach((email)=> { %>
                <li tabindex="0" class="entry">
                    <div class="date"><%= email.formatted_date %></div>
                    <a class="link" target="_blank" href="<%= email.body %>">
                        <%= email.subject %>
                    </a>
                    <div class="buttons">
                        <form
                            action="/love/<%= encodeURIComponent(email.body) %>"
                            method="POST"
                        >
                            <button class="loved" type="submit">💌</button>
                        </form>
                        <form
                            action="/archive/<%= encodeURIComponent(email.body) %>"
                            method="POST"
                        >
                            <button class="delete" type="submit">delete</button>
                        </form>
                    </div>
                </li>
                <% }) %>
            </ol>
        </main>
    </body>
</html>
